<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
	<% include ../partials/modals %>
    <% include ../partials/header %>
</header>

<main class="planner">
    <table class="table table-bordered">
    	<thead>
    		<tr>
    			<th class="td_act">Actions</th>
    			<th class="td_wpe">Week Period</th>
    			<th class="td_wna">Week Name</th>
    			<th class="td_str">Structure</th>
    			<th class="td_com">Comments</th>
    			<th class="td_res" colspan="2">Resources</th>
    		</tr>
    	</thead>
    	<tbody>
    		<%- table %>
    	</tbody>
    </table>

    <div class="new-week">
		<button type="button" class="btn btn-success" onclick="newWeek()">Add a new week</button>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>