nav .document-name {
	font-size: 18px;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	color: #777;
	width: auto;
}

nav .document-name:hover, nav .document-name:focus {
	border-color: #e7e7e7;
	color: black!important;
}

nav .document-name:blur{
	border-color: #f8f8f8;
	color: #777;
}

@media screen and (max-width: 1599px) {
	body {
		width: 1600px;
	}
	nav {
		width: 100%;
	}
}

.document-name {
	display: none;
	max-width: 20em;
	min-width: 3em;
}

.td, .th {
	padding: 0.6em;
	line-height: 1.42;
	
	white-space: pre-line;
}

.tbody {
	display: grid;
	grid-template-rows: auto;
}

.table-bordered .th, .table-bordered .td {
	border: 1px solid #ddd;
}

.thead, .week {
	display: grid;
	grid-template-columns: 25em auto;
}

.week {
	min-height: 4em;
	position: relative;
}

.thead-structure {
	display: grid;
	grid-template-columns: 25em 25em 1fr;
}

.th {
	font-weight: bold;
	text-align: center;
}

.structure {
	margin: 0;
	padding: 0;
	display: grid;
	word-break: break-all;
	grid-template-columns: 25em 25em 1fr;
	position: relative;
	min-height: 4em;
}

/*border-left: 1px solid #ddd;*/

.week-structure {
	padding: 0;
	display: grid;
	grid-template-rows: auto;
}

.structure-resources {
	margin: 0;
	padding: 0;
	display: grid;
}

.resource {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 40% 1fr;
	min-height: 4em;
	position: relative;
}

.action-buttons {
	position: absolute;
	display: none;
	bottom: 5px;
	left: 5px;
}

.action-buttons .btn {
	opacity: 0.2;
}

.action-buttons .btn:hover {
	opacity: 1;
}