/* static/style.css */

body {
	padding-top: 50px;
	overflow: auto;
}

.planner {
	/*font-family: "Segoe UI";*/
}

/*week number*/
.planner .td_act {
	min-width: 12em;
	text-align: center;
	border-left: none;
	vertical-align: middle;
}

/*week period*/
.planner .td_wpe {
	min-width: 10em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

/*week name*/
.planner .td_wna {
	min-width: 15em;
	text-align: center;
	vertical-align: middle;
}

/*week structure*/
.planner .td_str {
	min-width: 20em;
}

.planner th.td_str {
	text-align: center;
}

/*week comments*/
.planner .td_com {
	min-width: 30em;
}

.planner th.td_com {
	text-align: center;
}

/*week resources*/
.planner .td_res {
	min-width: 30em;
	width: auto;
	vertical-align: middle;
	cursor: pointer;
}

.planner th.td_res {
	text-align: center;
}

.new-week {
    position: relative;
    left: 2em;
    padding-bottom: 8em;
}

.center {
	text-align: center;
}