<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="google-signin-client_id" content="16592814341-srr33lj6et1lj5ls0dj4v73q495khfko.apps.googleusercontent.com">
		<title>Weekly Planner</title>
		<link rel="stylesheet" href="/static/main.css">
		<link rel="stylesheet" href="/static/landing.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="/static/client.js"></script>
		<script src="/static/functions.js"></script>
		<script src="/static/landing.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-left">
					<a href="/">My Documents</a>
					<a type="button" class="btn" id="document-create-card">Create a new document</a>
					<input type="text" class="search-input" placeholder="Search...">
				</div>
				
				<div class="nav-spacer"></div>
				<div class="nav-right">
					<span id="nav-greeting">Hello, </span>
					<a id="nav-log" href="#">Log in</a>
					<div id="button-google-signin" class="g-signin2 hidden" data-onsuccess="signIn" data-theme="dark"></div>
				</div>
			</nav>
		</header>
		<main>
			<h1 id="page-title" class="center">My Documents</h1>
			<section id="loading" class="center">
				Loading...
			</section>
			<section id="documents" class="hidden">

			</section>
		</main>
	</body>
</html>