<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="google-signin-client_id" content="16592814341-srr33lj6et1lj5ls0dj4v73q495khfko.apps.googleusercontent.com">
	    <title>Weekly Planner</title>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	    <link rel="stylesheet" href="/static/main.css">
	    <link rel="stylesheet" href="/static/login.css">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="/static/client.js"></script>
		<script src="/static/functions.js"></script>
	</head>
	<body>
	    <div id="button-google-signin" class="g-signin2 hidden" data-onsuccess="signIn" data-theme="dark"></div>
	    <main>
	    	<h1 class="center">Log In</h1>
    		<div id="login-button">
    			<div class="g-signin2" data-onsuccess="mainSignIn" data-width="300" data-height="50"
      data-longtitle="true" data-theme="dark"></div>
    		</div>
	    </main>
	</body>
</html>